.corpus-map {
  background: url(../images/bkgd/_mapCorpus.svg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}

@media screen and (min-width: 767px) {
	.corpus-map {
		background: url(../images/bkgd/_mapCorpus.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
}

@media screen
	and (max-width: 749px)
	and (orientation: portrait) {
	.corpus-map {
		background: url(../images/mobile/maps/_verticalCorpusMap.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
}

@media screen
	and (max-width: 667px)
	and (orientation: landscape) {
	.corpus-map {
		background: url(../images/mobile/maps/_horizontalCorpusMap.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
}
