.nav-logo {
	position: absolute;
	left: 20px;
	top: 10px;
	z-index: 500;
	height: 50px;
	width: auto;
}
.hamburger {
	position: absolute;
	right: 20px;
	top: 20px;
	z-index: 500;
	height: 24px;
	width: 32px;
	cursor: pointer;
}
.back-button {
	position: absolute;
	bottom: 20px;
	left: 20px;
	z-index: 500;
	height: 27px;
	width: 103px;
	cursor: pointer;
	@media screen and (max-width: 769px) {
		display: none;
	}
	@media screen and (min-device-width: 481px) and (orientation:landscape) {
		bottom: 30px;
	}
}
.up-down {
	position: absolute;
	top: 50px;
	right: 22px;
	z-index: 500;
	width: 30px;
	height: auto;
	@media screen and (max-width: 767px) {
		display: none;
	}
	img {
		width: 100%;
		height: auto;
		cursor: pointer;
		margin-top: 20px;
	}
}

.side-menu {
	background: #fffbf2;
	color: #1d3657;
	border-left: 1px solid #e2d9ae;
	opacity: 0.92;
	position: fixed;
	top: 0;
	bottom: 0;
	right: -300px;
	z-index: 501;
	width: 300px;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	display: block;
	transition: all 0.2s ease;
	text-align: center;
	font-family: "buttonFont";

	&.open {
		right: 0;
		transition: all 0.5s ease;
	}

	.language {
		position: absolute;
		left: 20px;
		top: 15px;
		color: #d7505b;
		font-size: 20px;
		letter-spacing: 2.2px;
		text-transform: uppercase;
		text-decoration: none;
		&:hover, &:active {
			text-decoration: none;
		}
	}

	.hamburger {
		position: absolute;
		right: 20px;
		top: 20px;
	}

	.pages {
		width: 100%;
		padding-top: 80px;

		a {
			display: block;
			font-size: 24px;
			letter-spacing: 2.2px;
			text-transform: uppercase;
			text-decoration: none;
			color: #1d3657;
			text-align: right;
			margin-bottom: 20px;
			padding-right: 20px;

			&:hover, &:active {
				text-decoration: none;
			}
		}
	}

	.nav-foot {
		position: absolute;
		bottom: 0;
		margin-left: 20px;
		padding-bottom: 30px;
		width: 260px;
		font-size: 18px;
		letter-spacing: 2.2px;

		a {
			color: #1d3657;
			text-decoration: none;
			&:hover, &:active {
				text-decoration: none;
			}
		}

		.search {
			border: none;
			border-bottom: 2px solid #d7505b;
			width: 100%;
			background: transparent;
			color: #d7505b;
			margin-bottom: 30px;
			font-family: "headerFont";
			font-size: 22px;
			padding: 4px 1px;
		}

		.bottom-links {
			text-transform: uppercase;

			.share {
				float: left;

				img {
					height: 24px;
					width: auto;
					margin-right: 5px;
				}
				span {
					position: relative;
					top: -4px;
				}
			}
			span {
				margin-left: 10px;
				margin-right: 10px;
			}
			.faq {
				float: right;
			}
		}
	}
}
